.collapsible-title{
    font-size: 1.7em;
    display: block;
    padding: 0.4em;
    background-color: #9ed3ff;
    cursor: pointer;
    text-shadow: 2px 2px 5px #3e6093;
    transition: all 0.5s ease-in-out;
}

.is-open > .collapsible-title {
    background-color: #0f295c !important;
    color: whitesmoke;
    text-shadow: 2px 2px 5px #90c5ff;
}

.collapsible-title:hover{
    background-color: #80afe1;
}

.collapsible-content, .Collapsible__contentOuter {
    background-color: white;
}

.collapsible-wrapper{
    border: 1px solid #80afe1;
}