.toggle-row{
    overflow: hidden;
}

.feature-name{
    text-align: left;
    padding: 0.5em;
}

.feature-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.environments{
    display: flex;
}




