.toggle-button{
    width: 100%;
    user-select: none;
    margin: 4px;
}

.toggle-button:first-child > div{
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
}

.toggle-button:last-child > div{
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

.toggle-button > div {
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .toggle-button > div {
        padding: 10px 10px;
    }
}

.toggle-button > .on{
    background-color: #2d9a49;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.toggle-button > .off{
    background-color: #ab2828;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.toggle-button > .missing{
    background-color: #cdcacd;
    opacity: 0.4;
}

