.toggle-button{
    width: 100%;
    user-select: none;
    margin: 4px;
}

.toggle-button > div {
    padding: 7px 20px;
}

.toggle-button > .on{
    background-color: #00bcd4;
    color: white;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.toggle-button > .off{
    background-color: #cdcacd;
    opacity: 0.4;
}